@charset "utf-8";

:root{
    --blue : #286FFF;
    --white : #F0EFF4;
    --black : #000;
    --skyblue : #DEE9FF;
}

html{height: 100%;}
body{ min-height: 100%; font-family:'S-CoreDream-3Light'; color: #000;}
#wrap{ max-width: 1920px; margin: auto; word-break: keep-all;  text-align: center;}
section{ max-width: 1920px; margin: auto;}
.inner{ max-width: 1200px; margin: auto;}
select {-webkit-appearance: none;  -moz-appearance: none; appearance: none; background: #fff url(../img/select_btn.png) no-repeat 98% center; color: inherit;}

b{ font-weight: 600;}
hr{border: 1px solid #888; color: #888; margin: 10px 0;}

/* color */
.fc-blue{ color: #286FFF;}
.fc-white{ color: #F0EFF4;}
.fc-black{ color: #000;}
.fc-skyblue{ color: #DEE9FF;}
.fc-red { color: red;}
.fc-888 { color: #888;}

/* weight */
.fw800{ font-weight: 800;}
.fw600{ font-weight: 600;}
.fw400{ font-weight: 400;}
.fw200{ font-weight: 200; }


/* size */
.f80{ font-size: 80px;}
.f60{ font-size: 60px;}
.f40{ font-size: 40px;}
.f30{ font-size: 30px;}
.f20{ font-size: 20px;}
.f16{ font-size: 16px;}
.f14{ font-size: 14px;}
.f12{ font-size: 12px;}


@media (max-width: 1000px){
    .f80{ font-size: 70px;}
    .f60{ font-size: 40px;}
    .f40{ font-size: 32px;}
    .f30{ font-size: 24px;}
    .f20{ font-size: 18px;}
    .f16{ font-size: 14px;}
}

@media (max-width: 700px){
 .f80{ font-size: 60px;}
 .f60{ font-size: 40px;}
 .f40{ font-size: 36px;}
 .f30{ font-size: 22px;}
 .f20{ font-size: 18px;}
 .f16{ font-size: 14px;}
}

@media (max-width: 613px){
 .f60{ font-size: 38px;}
}

@media (max-width: 600px){
.f80{ font-size: 40px;}
.f60{ font-size: 30px;}
.f40{ font-size: 28px;}
.f30{ font-size: 18px;}
.f20{ font-size: 16px;}
.f16{ font-size: 14px;}
}

@media (max-width: 480px){
 .f80{ font-size: 40px;}
 .f60{ font-size: 26px;}
 .f40{ font-size: 22px;}
 .f30{ font-size: 18px;}
 .f20{ font-size: 16px;}
 .f16{ font-size: 14px;}
 .f14{ font-size: 12px;}
}

@media (max-width: 380px){
    .f80{ font-size: 38px;}
    .f60{ font-size: 22px;}
    .f40{ font-size: 20px;}
    .f30{ font-size: 18px;}
    .f20{ font-size: 14px;}
    .f16{ font-size: 14px;}
   }
   
