@charset "utf-8";

@media (max-width: 1400px) {
  .form__section.modal.active .form__wrapper,
  .modal__content.slide-up{
    width: 60%;
  }
}

@media (max-width: 1000px) {
  .sec01__imgbox {
    width: 150px;
    height: 100px;
    background-size: contain;
  }

  .footer__copy {
    margin: 50px 0 20px;
  }

  .footer__logo {
    margin-bottom: 30px;
  }
  .terms__row small{
    display: none;
  }
  .terms__col{
    display: block !important;
    color: #999;
    font-size: 12px;
  }
}

@media (max-width: 800px) {
  .hero__sub {
    padding: 50px 0;
  }

  .meddle__title img {
    width: 200px;
    height: 50px;
  }

  .hero__top h1:nth-of-type(1) {
    margin-right: -120px;
  }

  .hero__top h1:nth-of-type(2) {
    margin-left: -150px;
  }

  .sec01 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
    gap: 30px;
  }

  .sec02 img {
    padding: 20px 0;
  }

  .sec04__ol li {
    width: 95%;
  }

  .sec05 {
    padding: 20px 0;
  }

  .sec05__swiper {
    width: 100%;
  }

  .form-wrapper {
    padding: 30px 20px;
  }

  .fixed {
    width: 80%;
  }

}

@media (max-width: 700px) {
  .meddle__title {
    width: 95%;
    padding: 20px 60px;
  }

  .swiper {
    width: 500px;
    height: 500px;
  }
}

@media (max-width: 650px) {
  .hero__top img {
    width: 80%;
  }
  .hero__top h1:nth-of-type(2) {
    margin-left: -130px;
  }
  .meddle__title{
    padding: 30px 40px;
  }
  .sec03 {
    gap: 20px;
  }

  .sec03__ul {
    padding: 20px 30px;
  }

  .swiper-button-prev,
  .swiper-button-next {
    padding: 18px;
  }
  .swiper-button-next:after, 
  .swiper-button-prev:after{
    font-size: 18px !important;
  }

  .sec06__ul{
    display: none;
  }
  .sec06__ul__mobil{
    display: block;
  }
  .submit__btn{
    margin-top: 0;
  }
  .form__section.modal.active .form__wrapper,
  .modal__content.slide-up{
    width: 80%;
  }

  .select__group{
    flex-direction: column;
  }
}

@media (max-width: 550px) {
  .meddle__title{
    gap: 10px;
  }
  .meddle__title img{
    width: 150px;
    height: 30px;
  }
  .sec01{
    display: flex;
    flex-direction: column;
    padding: 30px 0;
    gap: 20px;
  }
  .sec01__imgbox{
    display: none;
  }
  .sec01 ul{
    background-color: var(--skyblue);
    width: 90%;
    padding: 15px 10px;
    border-radius: 50px;
    color: var(--blue);
  }
  .media-txt{
    font-weight: 600;
    font-size: 20px;
  }
  .sec03 {
    flex-direction: column;
    width: 80%;
    margin: auto;
  }
  .sec04{
    padding: 0;
  }
  .swiper {
    width: 400px;
    height: 400px;
  }
}

@media (max-width: 480px){
  .swiper-button-prev,
  .swiper-button-next {
    padding: 14px;
  }
  .swiper{
    width: 350px;
    height: 350px;
  }
  .sec06{
    padding: 50px 0;
  }
  .form__wrapper img{
    width: 100px;
    height: 20px;
  }
  .consult__form .form__group {
    margin-bottom: 20px;
  }
  label,input, select{
    font-size: 13px;
  }
  .agree__check p,.radio-group label,  .txt__box p,.terms__row label{
    font-size: 12px;
  }
  .close{
    top: 6px;
  }
}

@media (max-width: 441px){
  .meddle__title{
    padding: 20px 30px;
  } 
  .meddle__title img{
    width: 110px;
    height: 24px;
  }
}

@media (max-width: 400px){
  .hero__sub{
    padding: 50px 0 10px;
  }
  .hero__top h1:nth-of-type(1){
    margin-right: -80px;
  }
  .hero__top h1:nth-of-type(2){
    margin-left: -80px;
  }
  .sec05__swiper{
    padding: 50px 0;
  }
  .swiper{
    width: 300px;
    height: 300px;
  }
}

@media (max-width: 350px){
  .sec04__ol li{
    padding: 15px 10px;
  }
  .meddle__title {
    padding: 20px;
  }
  .hero__sub span{
    display: block;
  }
  .swiper{
    width: 280px;
    height: 280px;
  }
}

@media (max-width: 300px){
  .meddle__title img{
    width: 100px;
  }
  .sec04__ol li{
    padding: 15px 5px;
  }
  .sec06__ul__mobil img{
    width: 280px;
  }
}