@charset "utf-8";

/* 모달 */
.form__section {
  display: none;
  position: fixed;
  top: 0; left: 0;
  width: 100%;
  transition: transform 0.4s ease, opacity 0.4s ease, width 0.4s ease;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 999;
  justify-content: center;
  align-items: center;
}

.form__section .form__backdrop {
  position: absolute;
  top: 0; left: 0;
  width: 100%; 
  transition: transform 0.4s ease, opacity 0.4s ease, width 0.4s ease;
  z-index: 1;
}

.form__section .form__wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  opacity: 0;
  transition: transform 0.4s ease, opacity 0.4s ease, width 0.4s ease;
  width: 40%;
  height: auto; 
}

.form__section.active .form__wrapper {
  opacity: 1;
}

.form__wrapper {
  width: 40%;
  max-height: 90vh;
  overflow-y: auto;
  margin: auto;
  background: #fff;
  padding: 40px 30px;
  border-radius: 15px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
}

.title {
  margin-bottom: 30px;
}

.form__wrapper img{
  width: 150px;
  height: 30px;
}

.subtitle {
  font-size: 18px;
  margin-bottom: 40px;
  color: #888;
}

.consult__form .form__group {
  margin-bottom: 30px;
}

label {
  display: block;
  font-size: 16px;
}

input, select {
  width: 100%;
  padding: 14px;
  border: 1px solid #ddd;
  border-radius: 10px;
  background-color: #f9f9f9;
  font-size: 16px;
}

.select__group {
  display: flex;
  gap: 10px;
}

.select__group select {
  flex: 1;
}

.terms {
  margin: 30px 0;
  border-top: 1px solid #eee;
  padding-top: 20px;
}

.terms__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 10px 0;
  gap: 10px;
}

.terms__row label {
  flex: 1;
  font-size: 14px;
  color: #555;
}

.terms__row .bold {
  font-weight: bold;
}

small {
  margin-top: 5px;
  font-size: 12px;
  color: #999;
}

.custom-checkbox {
  width: 24px;
  height: 24px;
  background: url(../img/check.png) no-repeat center center / cover;
  cursor: pointer;
  flex-shrink: 0;
}

.custom-checkbox.checked {
  background: url(../img/check.on.png) no-repeat center center / cover;
  z-index: 99;
}

body.modal-open {
  overflow: hidden;
}

.open-modal {
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
  color: #bbb;
}

.submit__btn {
  width: 100%;
  background: var(--blue);
  color: var(--white);
  font-size: 18px;
  padding: 16px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  margin-top: 20px;
}

.submit__btn:hover {
  background: #1d4ed8;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3); 
  z-index: 1000;
  overflow: hidden;
}

.modal__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  width: 80%;
  transition: transform 0.4s ease, opacity 0.4s ease, width 0.4s ease;
  max-width: 600px;
  padding: 20px;
  border-radius: 10px;
  max-height: 90vh;
  overflow-y: auto;
}
.modal__content.slide-up {
  opacity: 1;
}

.modal.active {
  display: flex;
  opacity: 1;
}

.modal__content::-webkit-scrollbar {
  width: 8px;
}

.modal__content::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
}

.modal__content::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}
.close {
  position: absolute;
  top: 20px;
  right: 25px;
  font-size: 30px;
  cursor: pointer;
}

.modal__txt {
  margin-top: 20px;
}

.modal__txt p {
  color: #888;
  text-indent: 10px;
  margin: 5px 0;
}

.txt__circle {
  font-size: 18px;
  margin-right: 5px;
}

.txt__box {
  padding: 10px 0;
}

.txt__background {
  background: #f1f1f1;
  padding: 10px;
  border-radius: 10px;
  margin-top: 10px;
}

.agree__check {
  margin-top: 40px;
}

.agree__check p {
  font-size: 14px;
  font-weight: bold;
  margin: 15px 0 5px;
}

.radio-group input[type="radio"] {
  display: none;
}
.radio-group {
  display: flex;
  gap: 15px;
  margin-bottom: 15px;
}

.radio-group label {
  font-size: 14px;
  color: #555;
}

.radio-group label {
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  font-size: 14px;
  color: #555;
  line-height: 24px;
}

.radio-group label::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 24px;
  height: 24px;
  background: url('../img/agree.png') no-repeat center center / cover;
  transform: translateY(-50%);
}

input[type="radio"]:checked + label::before {
  background: url('../img/agree_on.png') no-repeat center center / cover;
}

.modal__footer {
  margin-top: 50px;
}

.modal__button {
  width: 100%;
  padding: 15px;
  background-color: var(--blue);
  color: var(--white);
  font-size: 16px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
}

.modal__button:hover {
  background-color: #2563eb;
}


/* hero */
.hero{
    background-color: var(--blue);
    width: 100%;
    margin: 0 auto;
    padding: 50px 0;
}

.hero__top{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero__top h1:nth-of-type(1){
    margin: 100px -100px 0 0;
    z-index: 2;
}
.hero__top h1:nth-of-type(2){
    margin: 100px 0 0 -110px;
}
.hero__meddle h3{
  margin: 10px 0 15px;
}
.meddle__title{
    display: flex;
    justify-content: center;
    gap: 30px;
    align-items: center;
    background-color: var(--white);
    border-radius: 100px;
    width: fit-content;
    margin: auto;
    padding: 20px 100px;
}
.meddle__title img{
    width: 282px;
    height: 59px;
}
.hero__sub{
    padding: 80px 0;
}
.hero__sub span{
  display: none;
}
/* section01 */
.sec01{
    display: flex;
    width: 100%;
    align-items: center;
    gap: 50px;
    justify-content: center;
    padding: 50px 0;
}
.sec01__col01, .sec01__col02{
  display: flex;
  gap: 50px;
}
.sec01__imgbox{
    width: 200px;
    height: 150px;
}

.box1{
    background: url(../img/word1.png) no-repeat 50% 50%;
}
.box2{
    background: url(../img/word2.png) no-repeat 50% 50%;
}
.box3{
    background: url(../img/word3.png) no-repeat 50% 50%;
}
.box4{
    background: url(../img/word4.png) no-repeat 50% 50%;
}
.box5{
    background: url(../img/word5.png) no-repeat 50% 50%;
}

/* sec02 */
.sec02 p{
    padding: 20px 0;
}
.sec02 img{
    padding: 50px 0;
}
.sec02__before,
.sec02__before2{
    position: relative;
    display: inline-block;
}
.sec02__before::before{
    content: "";
    background-color: var(--blue);
    width: 110%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}
.sec02__before2::before{
  content: "";
  background-color: var(--blue);
  width: 110%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}
/* sec03 */
.sec03{
    display: flex;
    justify-content: center;
    gap: 50px;
    padding: 80px 0 30px;
}
.sec03__ul{
    background-color: var(--skyblue);
    border-radius: 30px;
    padding: 30px 50px;
}
.sec03__ul li:nth-of-type(2){
    margin: 30px 0;
}

/* sec04 */
.sec04{
    color: var(--white);
    font-weight: 200;
    padding: 30px 0;
}
.sec04__ol li{
    background-color: var(--blue);
    border-radius: 50px;
    width: 700px;
    margin: 30px auto;
    padding: 15px 40px;
}

/* 슬라이드 sec05*/
.sec05{
  padding: 50px 0;
}
.sec05 h3{
  margin-bottom: 20px;
}

.sec05__swiper {
    width: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    position: relative;
    padding: 80px 0;
  }
  
  .swiper {
    width: 600px;
    height: 600px;
  }
  
  .swiper-slide {
    width: 100%;
    height: 100%;
    background-color: var(--white);
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .swiper-slide img{
    width: 100%;
    height: 100%;
    border-radius: 30px;
  }
  .swiper-button-prev,
  .swiper-button-next {
    background-color: var(--blue);
    color: var(--white);
    padding: 30px;
    border-radius: 5px;
    font-size: 20px;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-button-next:after, 
  .swiper-button-prev:after{
    color: var(--white);
  }

  /* sec06 */
  .sec06{
    background-color: var(--blue);
    padding: 80px 0;
  }
.sec06 h2{
    margin: 20px 0 50px;
}
  .sec06__ul{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    max-width: 700px;
    margin: 0 auto; 
}
  .sec06__ul img{
    width: 300px;
  }
.sec06__ul__mobil{
  display: none;
  gap: 50px;
}
  /* footer */
  footer{
    background-color: var(--white);
    padding: 50px 0 80px;
  }

  .footer__logo{
    margin-bottom: 40px;
  }
  .footer__logo img{
    width: 140px;
    height: 30px;
  }

  .footer__txt{
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
.footer__copy{
    margin: 80px 0 20px;
}

/* 고정메뉴 */
.fixed{
    width: 60%;
    margin: auto;
    background-color: #fff;
    border: 2px solid var(--blue);
    border-radius: 10px;
    padding: 20px 0;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 99;
}
